@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Решение задачи оптимизации <br> с использованием пакета Google.OrTools</h1>
    
</div>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <p>
    </p>
    <p>
        Целевая функция:
        <br>
        aX1 + bX2 + cX3 + dx4 + ex5 + fx6 -> min
        <br>
        <br>

        Прямые ограничения на X:
        <br>
        x  => 0
        
        <br>
        Ограничения-неравенства:
        <br>
        2x1+x2+x3+x6  <=  800
        <br>
        x2+x4+x5 <=  240
        <br>
        x3+x5+2x6 <=  160
        <br>
        <br>
        
    </p>
</div>

